body { background: #a1b110; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 40px; display: flex; }
.block-user-0 { color: #361d1f; font-size: 17px; margin-bottom: 5px; }
.block-metrics-1 { color: #c49305; font-size: 13px; margin-bottom: 5px; }
.block-filter-2 { color: #3412e3; font-size: 20px; margin-bottom: 5px; }
.block-session-3 { color: #4d4e77; font-size: 14px; margin-bottom: 5px; }
.block-session-4 { color: #821314; font-size: 21px; margin-bottom: 5px; }
.block-filter-5 { color: #33386a; font-size: 20px; margin-bottom: 5px; }
.block-product-6 { color: #3a74b; font-size: 21px; margin-bottom: 5px; }